<!-- Block Pagination - DEBUT -->
{% block pagination %}
<div style="text-align:center" class="sui-pager sui-pager-core">
	<ul class="sui-pagination">							
		{% if entreprises.has_previous %}
		<li class="sui-pager-element">
			<a  href="?page={{ entreprises.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left"></span> Précédent</a>
		</li>
		{% endif %}
		<li class="sui-pager-element">
			<a class="sui-pager-number sui-selected">{{ entreprises.number }} / {{ entreprises.paginator.num_pages }}</a>
		</li>
	    {% if entreprises.has_next %}
		<li class="sui-pager-element">
			<a class="sui-prev" href="?page={{ entreprises.next_page_number }}">Suivant <span class="glyphicon glyphicon-chevron-right"></span></a>
		</li>
		{% endif %}
	</ul>
<div class="sui-pager-info-box"></div>
</div>
{% endblock %}
<!-- Block Pagination - FIN -->